<a href="https://colab.research.google.com/github/6230204513/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมข้อมูล

In [1]:
import pandas as pd # import ฟังก์ชัน pandas
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [2]:
from google.colab import drive # เชื่อม drive ของเรา ถ้าเชื่อมสำเร็จจะขึ้นคำว่าMounted at /content/drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/ovrdt_data' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

In [4]:
data_file_path = os.path.join(path,'alldb.csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
data_alldb = pd.read_csv(data_file_path)

In [5]:
data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [6]:
data_file_path2 = os.path.join(path,'hospital_list.xlsx')
data_hospital = pd.read_excel(data_file_path2)

In [7]:
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# จัดการข้อมูล

In [8]:
new_alldb = data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] # ตัดให้เหลือ column ที่ต้องการนำไปใช้
new_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

In [9]:
new_alldb.isnull().sum() # เช็คค่า missing

user            762
RowKey            1
date            554
phone             3
site             99
time            557
urine           253
ov              364
PartitionKey    185
dtype: int64

In [10]:
drop_alldb = new_alldb.dropna() # จัดการค่า missing โดยการ drop ทิ้งไป
drop_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [11]:
# เช็คข้อมูลหลังจากการ drop ว่าหายไปกี่เปอร์เซ็นต์
removes = new_alldb.shape[0] - drop_alldb.shape[0]
print(f'size before drop = {new_alldb.shape[0]}')
print(f'size after drop = {drop_alldb.shape[0]}')
print(f'% from drop = {(removes/new_alldb.shape[0])*100}')

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

## จัดการให้ค่า site เป็นตัวเลข 5 หลัก(ตัวเลขเท่านั้น)

In [12]:
set(drop_alldb['site']) # set ดูค่าที่เก็บไว้

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05087\n',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11111111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13777t',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '33333',
 '44902',
 '45972',
 '49741',
 '50210',
 '5271',
 '55555',
 '66666',
 '75757',
 '88888',
 '97255',
 '99795',
 '99999',
 'aaa',
 'bbb',
 'ccc',
 'eee',
 'fff',
 'ggg',
 'hhh',
 'iii',
 'jjj',
 'kkk',
 'lll',
 'mmm',
 'ppp',
 'qqq',
 'rrr',
 'sss',
 'test',
 'ttt',
 'uuu',
 'vvv',
 'www',
 'xxx',
 'yyy',
 'zzz'}

In [13]:
drop_alldb = drop_alldb[(drop_alldb['site'].astype(str).str.isdigit()) & (drop_alldb['site'].str.len() == 5)] # เช็ค type ของข้อมูลโดยใช้ str.isdigit() และทำการเลือกข้อมูลที่เป็นตัวเลข 5 หลักเท่านั้น
drop_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [14]:
new_hospital = data_hospital[['hcode','name','zone_code','zone_name','provincecode','province','amphurcode','amphur','tamboncode','tambon']] # ตัดให้เหลือ column ที่ต้องการนำไปใช้
new_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ
...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น

In [15]:
new_hospital.isnull().sum() # เช็คค่า missing

hcode             0
name              1
zone_code         0
zone_name         4
provincecode      1
province          0
amphurcode        2
amphur            2
tamboncode      168
tambon          209
dtype: int64

In [16]:
drop_hospital = new_hospital.dropna() # จัดการค่า missing โดยการ drop 
drop_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ
...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น

In [17]:
# เช็คข้อมูลหลังจากการ drop ว่าหายไปกี่เปอร์เซ็นต์
removes = new_hospital.shape[0] - drop_hospital.shape[0]
print(f'size before drop = {new_hospital.shape[0]}')
print(f'size after drop = {drop_hospital.shape[0]}')
print(f'% from drop = {(removes/new_hospital.shape[0])*100}')

size before drop = 17103
size after drop = 16890
% from drop = 1.245395544641291

In [18]:
set(drop_hospital['hcode']) # set ดูค่าที่เก็บไว้

{'00983',
 '01864',
 '06467',
 '11295',
 '08396',
 '11281',
 '23532',
 '01681',
 '17887',
 '10026',
 '24597',
 '27546',
 '10441',
 '01501',
 '05974',
 '07977',
 '27456',
 '28122',
 '23684',
 '26702',
 '08634',
 '02392',
 '25020',
 '05477',
 '05070',
 '02045',
 '07852',
 '07992',
 '23910',
 '26102',
 '05155',
 '06929',
 '01823',
 '08137',
 '08874',
 '09380',
 '06921',
 '01887',
 '09907',
 '03572',
 '02831',
 '13908',
 '07759',
 '04493',
 '08500',
 '07158',
 '01929',
 '13785',
 '04584',
 '11101',
 '24563',
 '02324',
 '05253',
 '28046',
 '17919',
 '01192',
 '01215',
 '00380',
 '00150',
 '06722',
 '06710',
 '24654',
 '27405',
 '26960',
 '04671',
 '04886',
 '22840',
 '02244',
 '14717',
 '99931',
 '06533',
 '24573',
 '02791',
 '07153',
 '01946',
 '14011',
 '23220',
 '02909',
 '26355',
 '02140',
 '08505',
 '03268',
 '09216',
 '10365',
 '24002',
 '10714',
 '05626',
 '07921',
 '22789',
 '13817',
 '08731',
 '13992',
 '09365',
 '12491',
 '07016',
 '13985',
 '12419',
 '04201',
 '26938',
 '03644',
 '10540',
 '22186',
 '99745',
 '05547',
 '25163',
 '24499',
 '01044',
 '03940',
 '14918',
 '19996',
 '06278',
 '09053',
 '27457',
 '06207',
 '07680',
 '22383',
 '06036',
 '10774',
 '06210',
 '02188',
 '28263',
 '02988',
 '07238',
 '03895',
 '06790',
 '24079',
 '01321',
 '06781',
 '01908',
 '08399',
 '24493',
 '07664',
 '10452',
 '25965',
 '14277',
 '10362',
 '07474',
 '09371',
 '01104',
 '14363',
 '04200',
 '00087',
 '00726',
 '10090',
 '00578',
 '00839',
 '03651',
 '03878',
 '14908',
 '15282',
 '25671',
 '02409',
 '14366',
 '09442',
 '08232',
 '09433',
 '05725',
 '13734',
 '13934',
 '00624',
 '07589',
 '25856',
 '02684',
 '03093',
 '09095',
 '25889',
 '03758',
 '27699',
 '27754',
 '27028',
 '05665',
 '06231',
 '24047',
 '04681',
 '00308',
 '00977',
 '02591',
 '09041',
 '01930',
 '01301',
 '00497',
 '03521',
 '10852',
 '03788',
 '05286',
 '00674',
 '00778',
 '02611',
 '01391',
 '03594',
 '09976',
 '14288',
 '23627',
 '06886',
 '07424',
 '04240',
 '00324',
 '15034',
 '15095',
 '09184',
 '08711',
 '03146',
 '04992',
 '24438',
 '01577',
 '08850',
 '10030',
 '26103',
 '02255',
 '04605',
 '09607',
 '11851',
 '06440',
 '11284',
 '24714',
 '07834',
 '23549',
 '02008',
 '01935',
 '03281',
 '08030',
 '24907',
 '01541',
 '16835',
 '25132',
 '28631',
 '04192',
 '07207',
 '07748',
 '02374',
 '00027',
 '17133',
 '03900',
 '24645',
 '05356',
 '05366',
 '26636',
 '27460',
 '27982',
 '04868',
 '11550',
 '01071',
 '07318',
 '10520',
 '06072',
 '06477',
 '04016',
 '11070',
 '00680',
 '06744',
 '14641',
 '23577',
 '18864',
 '26592',
 '09606',
 '01315',
 '24857',
 '00503',
 '01952',
 '03970',
 '01395',
 '04311',
 '04399',
 '05354',
 '13678',
 '26881',
 '26967',
 '10766',
 '00814',
 '10011',
 '04686',
 '14249',
 '00868',
 '28298',
 '00072',
 '00927',
 '05457',
 '03757',
 '23891',
 '28702',
 '05142',
 '16963',
 '11419',
 '02175',
 '11286',
 '05334',
 '01112',
 '01865',
 '03322',
 '02216',
 '28784',
 '00031',
 '00885',
 '26637',
 '01269',
 '06485',
 '06657',
 '26898',
 '14173',
 '06698',
 '08707',
 '03810',
 '14044',
 '25125',
 '15147',
 '21484',
 '11052',
 '05510',
 '11946',
 '14342',
 '15234',
 '03956',
 '13871',
 '21352',
 '02152',
 '14029',
 '04337',
 '04378',
 '26316',
 '03390',
 '10887',
 '10902',
 '00915',
 '09356',
 '24539',
 '03813',
 '07479',
 '23648',
 '23213',
 '00117',
 '02643',
 '23221',
 '02517',
 '05097',
 '05318',
 '10926',
 '06891',
 '07811',
 '02463',
 '02690',
 '05307',
 '05721',
 '04260',
 '00442',
 '00541',
 '24048',
 '05463',
 '10660',
 '06492',
 '02733',
 '02016',
 '09156',
 '06871',
 '09076',
 '07923',
 '04148',
 '00374',
 '00938',
 '14113',
 '07737',
 '08815',
 '14647',
 '09492',
 '10525',
 '08398',
 '11370',
 '02262',
 '10587',
 '18583',
 '25463',
 '00757',
 '10033',
 '16045',
 '08672',
 '00594',
 '05529',
 '25854',
 '07598',
 '08799',
 '06127',
 '08067',
 '00400',
 '00647',
 '02774',
 '04459',
 '09439',
 '00394',
 '02739',
 '24845',
 '08235',
 '10835',
 '28081',
 '99805',
 '04117',
 '05169',
 '23848',
 '01187',
 '06351',
 '02803',
 '11534',
 '01904',
 '14081',
 '08664',
 '23602',
 '00506',
 '15177',
 '25881',
 '07691',
 '11081',
 '26978',
 '01106',
 '06515',
 '04817',
 '00972',
 '13688',
 '24397',
 '00965',
 '04465',
 '99874',
 '07892',
 '08578',
 '24823',
 '01604',
 '24308',
 '01016',
 '25042',
 '28860',
 '09339',
 '10672',
 '24695',
 '26997',
 '14848',
 '24706',
 '02043',
 '02794',
 '03447',
 '06584',
 '02336',
 '09682',
 '28069',
 '28717',
 '13682',
 '09616',
 '04373',
 '25182',
 '10837',
 '00692',
 '02978',
 '06470',
 '07715',
 '23930',
 '05731',
 '09323',
 '12223',
 '26344',
 '00301',
 '07329',
 '02541',
 '07393',
 '07403',
 '15223',
 '07846',
 '02609',
 '05519',
 '04080',
 '07577',
 '01298',
 '01890',
 '07244',
 '08061',
 '09244',
 '04273',
 '15168',
 '14378',
 '77734',
 '77709',
 '28807',
 '28169',
 '23696',
 '28109',
 '24729',
 '01240',
 '01319',
 '08768',
 '11899',
 '11001',
 '14211',
 '00832',
 '27046',
 '08465',
 '00141',
 '04226',
 '10023',
 '00178',
 '01227',
 '00164',
 '09006',
 '04269',
 '07089',
 '10856',
 '23658',
 '09716',
 '22538',
 '25587',
 '00461',
 '00824',
 '10119',
 '26017',
 '08012',
 '07228',
 '26035',
 '18092',
 '77724',
 '05197',
 '07682',
 '05156',
 '25165',
 '04912',
 '05250',
 '06758',
 '01313',
 '27614',
 '27997',
 '00187',
 '01163',
 '02941',
 '07380',
 '02701',
 '02638',
 '08808',
 '25056',
 '08053',
 '22744',
 '23809',
 '01281',
 '04884',
 '27475',
 '06423',
 '02286',
 '24505',
 '25153',
 '02888',
 '22832',
 '24350',
 '02629',
 '11062',
 '03059',
 '15159',
 '01133',
 '14627',
 '10810',
 '77757',
 '02443',
 '19378',
 '00931',
 '02796',
 '03974',
 '04682',
 '09573',
 '06335',
 '10088',
 '09364',
 '05907',
 '11310',
 '03157',
 '11583',
 '10763',
 '19335',
 '04670',
 '26982',
 '00957',
 '09638',
 '03436',
 '21356',
 '07753',
 '06588',
 '00722',
 '01516',
 '06129',
 '01030',
 '02063',
 '10581',
 '02332',
 '08558',
 '00951',
 '09703',
 '24558',
 '00106',
 '26994',
 '25716',
 '04304',
 '12265',
 '07733',
 '24352',
 '26132',
 '24969',
 '07475',
 '05931',
 '18601',
 '25745',
 '02444',
 '06312',
 '04214',
 '07261',
 '13725',
 '24786',
 '04426',
 '05466',
 '08214',
 '24873',
 '26309',
 '17289',
 '16655',
 '06863',
 '14682',
 '08336',
 '05736',
 '24196',
 '07026',
 '08798',
 '25817',
 '10074',
 '01694',
 '02651',
 '00086',
 '04449',
 '08977',
 '06514',
 '28821',
 '14074',
 '08746',
 '02158',
 '04774',
 '27375',
 '11784',
 '25988',
 '01484',
 '05509',
 '06540',
 '24254',
 '01157',
 '25684',
 '27051',
 '99937',
 '28871',
 '08122',
 '27055',
 '04860',
 '13935',
 '24299',
 '01768',
 '09474',
 '04440',
 '11721',
 '10144',
 '24583',
 '22044',
 '04696',
 '02825',
 '09291',
 '05972',
 '10162',
 '01094',
 '01764',
 '08990',
 '08560',
 '24832',
 '10159',
 '08378',
 '14555',
 '28044',
 '04998',
 '01943',
 '22695',
 '02550',
 '02835',
 '01669',
 '06667',
 '02023',
 '00530',
 '25811',
 '09879',
 '02107',
 '10674',
 '01650',
 '02220',
 '20798',
 '02420',
 '04653',
 '01300',
 '05977',
 '27050',
 '01015',
 '02618',
 '00129',
 '08146',
 '24828',
 '00893',
 '27525',
 '04425',
 '10885',
 '02200',
 '07041',
 '10019',
 '15144',
 '11126',
 '28616',
 '25914',
 '09563',
 '09773',
 '06247',
 '11303',
 '25964',
 '77753',
 '05319',
 '11548',
 '06026',
 '99771',
 '06290',
 '07092',
 '03045',
 '20938',
 '04722',
 '02251',
 '08824',
 '12486',
 '24421',
 '04915',
 '06547',
 '26769',
 '08551',
 '03903',
 '24177',
 '03540',
 '24743',
 '09297',
 '01977',
 '08608',
 '05985',
 '09078',
 '04582',
 '08847',
 '09690',
 '14050',
 '14419',
 '28134',
 '77714',
 '05798',
 '14577',
 '24226',
 '03220',
 '04276',
 '05126',
 '06988',
 '08042',
 '23004',
 '09360',
 '25998',
 '02436',
 '14336',
 '77676',
 '01061',
 '04850',
 '05625',
 '02605',
 '05508',
 '05771',
 '08650',
 '03336',
 '12414',
 '21753',
 '01237',
 '03703',
 '01118',
 '03724',
 '05402',
 '05851',
 '14835',
 '24354',
 '04568',
 '03289',
 '18009',
 '03359',
 '03679',
 '04994',
 '25689',
 '11454',
 '06432',
 '25697',
 '01944',
 '26608',
 '02902',
 '01062',
 '03773',
 '07280',
 '07445',
 '24029',
 '24566',
 '09080',
 '26676',
 '02085',
 '23032',
 '00043',
 '03624',
 '27746',
 '00704',
 '03673',
 '06219',
 '02499',
 '14431',
 '28281',
 '15133',
 '01505',
 '11007',
 '13995',
 '03383',
 '06959',
 '04278',
 '02382',
 '00986',
 '28231',
 '03625',
 '10248',
 '01221',
 '24871',
 '06184',
 '28202',
 '07395',
 '24009',
 '20926',
 '10748',
 '02029',
 '07122',
 '11119',
 '28836',
 '00626',
 '11255',
 '06519',
 '19415',
 '01814',
 '02980',
 '10133',
 '27643',
 '03002',
 '05679',
 '02219',
 '06404',
 '07272',
 '02959',
 '01562',
 '11157',
 '06190',
 '11485',
 '13818',
 '08513',
 '04502',
 '11991',
 '25005',
 '23814',
 '10574',
 '10932',
 '15017',
 '06508',
 '02380',
 '05894',
 '09808',
 '06590',
 '25795',
 '28657',
 '04494',
 '00769',
 '25604',
 '22126',
 '06982',
 '06983',
 '00695',
 '24423',
 '03601',
 '28726',
 '10167',
 '25815',
 '28764',
 '03221',
 '05734',
 '00251',
 '04829',
 '22740',
 '04299',
 '01218',
 '28256',
 '13772',
 '00886',
 '09653',
 '24647',
 '00202',
 '08992',
 '06035',
 '07456',
 '02415',
 '12421',
 '09090',
 '01236',
 '08286',
 '08905',
 '02914',
 '28189',
 '99869',
 '99935',
 '10989',
 '10367',
 '02817',
 '09724',
 '07529',
 '02849',
 '06910',
 '23937',
 '03350',
 '05397',
 '06635',
 '04528',
 '08158',
 '11888',
 '12097',
 '21970',
 '28620',
 '07506',
 '12273',
 '07633',
 '09008',
 '00430',
 '24041',
 '28165',
 '05604',
 '09698',
 '06253',
 '23565',
 '06230',
 '08290',
 '11242',
 '25718',
 '00077',
 '00236',
 '06930',
 '07392',
 '03013',
 '07883',
 '25975',
 '09485',
 '08117',
 '06452',
 '07510',
 '00499',
 '03419',
 '04921',
 '12000',
 '06638',
 '07765',
 '26765',
 '01478',
 '09718',
 '24704',
 '06164',
 '00492',
 '00813',
 '03953',
 '03790',
 '08553',
 '25692',
 '11098',
 '00211',
 '11405',
 '19558',
 '15161',
 '25151',
 '28232',
 '04180',
 '26666',
 '03815',
 '05180',
 '08527',
 '28030',
 '07810',
 '11142',
 '14697',
 '02663',
 '12396',
 '01403',
 '26846',
 '20827',
 '14302',
 '07951',
 '26019',
 '28601',
 '00066',
 '25810',
 '06747',
 '24777',
 '01782',
 '08397',
 '77760',
 ...}

## รวมตารางข้อมูล alldb และ hospital เข้าด้วยกัน โดยใช้การ merge

In [19]:
data = drop_alldb.merge(drop_hospital,how='left',left_on='site',right_on='hcode') # เชื่อมตารางโดยตารางทางซ้ายเป็น alldb มี key คือ site เชื่อมกับ hospital มี key คือ hcode
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,9.0,หนองพอก,4.0,กกโพธิ์
1,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
2,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
3,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,6.0,บรบือ,19.0,หนองโก
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38354,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38355,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38356,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38357,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38358,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data.isnull().sum() # เช็คค่า missing

user             0
RowKey           0
date             0
phone            0
site             0
time             0
urine            0
ov               0
PartitionKey     0
hcode           84
name            84
zone_code       84
zone_name       84
provincecode    84
province        84
amphurcode      84
amphur          84
tamboncode      84
tambon          84
dtype: int64

In [21]:
drop_data = data.dropna() # จัดการค่า missing โดยการ drop
drop_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,9.0,หนองพอก,4.0,กกโพธิ์
1,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
2,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
3,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,6.0,บรบือ,19.0,หนองโก
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38338,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,05258,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองตาโฮม ตำบลขี้เหล็ก,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,14.0,อาจสามารถ,9.0,ขี้เหล็ก
38339,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38340,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38341,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38342,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,10.0,คำม่วง,9.0,เนินยาง

In [22]:
# เช็คข้อมูลหลังจากการ drop ว่าหายไปกี่เปอร์เซ็นต์
removes = data.shape[0] - drop_data.shape[0]
print(f'size before drop = {data.shape[0]}')
print(f'size after drop = {drop_data.shape[0]}')
print(f'% from drop = {(removes/data.shape[0])*100}')

size before drop = 38359
size after drop = 38275
% from drop = 0.21898381083969862

## เปลี่ยน type ข้อมูล

In [23]:
drop_data.info() # เช็ค type ข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38275 entries, 0 to 38342
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38275 non-null  object
 1   RowKey        38275 non-null  object
 2   date          38275 non-null  object
 3   phone         38275 non-null  object
 4   site          38275 non-null  object
 5   time          38275 non-null  object
 6   urine         38275 non-null  object
 7   ov            38275 non-null  object
 8   PartitionKey  38275 non-null  object
 9   hcode         38275 non-null  object
 10  name          38275 non-null  object
 11  zone_code     38275 non-null  float64
 12  zone_name     38275 non-null  object
 13  provincecode  38275 non-null  float64
 14  province      38275 non-null  object
 15  amphurcode    38275 non-null  float64
 16  amphur        38275 non-null  object
 17  tamboncode    38275 non-null  float64
 18  tambon        38275 non-null  object
dtypes: float64(4), object(15)
memory usage: 5.8+ MB

In [24]:
# ทำการเปลี่ย type ของข้อมูล
drop_data['RowKey'] = drop_data['RowKey'].astype('string')
drop_data['phone'] = drop_data['phone'].astype('string')
drop_data['urine'] = drop_data['urine'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## จัดการให้ค่า user เป็นตัวเลข 5 หลัก(ตัวเลขเท่านั้น)

In [25]:
set(drop_data['user']) # set ดูค่าที่เก็บไว้

{'45-161',
 '75771',
 '03949',
 '25071',
 '00022',
 '79001',
 '48646',
 '05974',
 '46775',
 '48255',
 '80673',
 '00319',
 '91167',
 '00269',
 '61746',
 '05232',
 '99734',
 '01431',
 '5600190011969',
 '25923',
 '11611',
 '78257',
 '06436',
 '24563',
 '73302',
 '00052',
 '89195',
 '78673',
 '00150',
 '54781',
 '31811',
 '48956',
 '23796',
 '42098',
 '38778',
 '73336',
 '00176',
 '70948',
 '12839',
 '76523',
 '00183',
 '22542',
 '32831',
 '10264',
 '46783',
 '50063',
 '00033',
 '11808',
 '72988',
 '97913',
 '53330',
 '18849',
 '82582',
 '06790',
 '00218',
 '97965',
 '70490',
 '50373',
 '67280',
 '74289',
 '18873',
 '00578',
 '00008',
 '98703',
 '83937',
 '12786',
 '00624',
 '94558',
 '40881',
 '01008',
 '39079',
 '53616',
 '29485',
 '00308',
 '17916',
 '44201',
 '89381',
 '00351',
 '55236',
 '46643',
 '96481',
 '06268',
 '17842',
 '05219',
 '00324',
 '00318',
 '69911',
 '25943',
 '00048',
 '00305',
 '76386',
 '18008',
 '59128',
 '00027',
 '86721',
 '86601',
 '27604',
 '32999',
 '47429',
 '18513',
 '60953',
 '73496',
 '00049',
 '47602',
 '00190',
 '51060',
 '21010',
 '98530',
 '00209',
 '18025',
 '83276',
 '89913',
 '00031',
 '95631',
 '32082',
 '92893',
 '45924',
 '71503',
 '71327',
 '80175',
 '39342',
 '71417',
 '22545',
 '73381',
 '00117',
 '61265',
 '19273',
 '03558',
 '47146',
 '16529',
 '06924',
 '61419',
 '95609',
 '40553',
 '70370',
 '89609',
 '16783',
 '16247',
 '00065',
 '53751',
 '3451100451758',
 '31994',
 '02693',
 '33643',
 '51474',
 '29502',
 '36390',
 '91947',
 '44888',
 '34210',
 '46970',
 '84494',
 '61591',
 '63767',
 '28731',
 '00400',
 '00394',
 '13978',
 '63312',
 '86113',
 '3451100141252',
 '74103',
 '67379',
 '18041',
 '65555',
 '57066',
 '00271',
 '67864',
 '33171',
 '11727',
 '24229',
 '05374',
 '88337',
 '58718',
 '32387',
 '00315',
 '70957',
 '04281',
 '52921',
 '84187',
 '25804',
 '51039',
 '00301',
 '3450101514299',
 '19578',
 '32891',
 '86474',
 '02579',
 '82951',
 '63098',
 '27046',
 '56051',
 '00141',
 '3450100940367',
 '68317',
 '00178',
 '35512',
 '73876',
 '16604',
 '00164',
 '09006',
 '17536',
 '31551',
 '00012',
 '77811',
 '50144',
 '50624',
 '19699',
 '63799',
 '43228',
 '29379',
 '80979',
 '00007',
 '44502',
 '33237',
 '00187',
 '74964',
 '89251',
 '62459',
 '62415',
 '37607',
 '37140',
 '48962',
 '76475',
 '22688',
 '71872',
 '64199',
 '47656',
 '96061',
 '00074',
 '45914',
 '76088',
 '08370',
 '38822',
 '46481',
 '03409',
 '77384',
 '12015',
 '00206',
 '29476',
 '14387',
 '38547',
 '80511',
 '22099',
 '92747',
 '52912',
 '10905',
 '77743',
 '54281',
 '80253',
 '26773',
 '00001',
 '45485',
 '03500',
 '17974',
 '68759',
 '23596',
 '50580',
 '11522',
 '09269',
 '85094',
 '86407',
 '50284',
 '22824',
 '56044',
 '7140',
 '86299',
 '85493',
 '85379',
 '00284',
 '72364',
 '24179',
 '79834',
 '73000',
 '02825',
 '33251',
 '10695',
 '05663',
 '12022',
 '63880',
 '06271',
 '03663',
 '34343',
 '64671',
 '94135',
 '87218',
 '70610',
 '68112',
 '53333',
 '02990',
 '00156',
 '46662',
 '03617',
 '35139',
 '00129',
 '05135',
 '92220',
 '00122',
 '28186',
 '81537',
 '96699',
 '66473',
 '19201',
 '61552',
 '99771',
 '98519',
 '73375',
 '16144',
 '00204',
 '62517',
 '54923',
 '25721',
 '48298',
 '58870',
 '97057',
 '65509',
 '80364',
 '19762',
 '75921',
 '21751',
 '49308',
 '76851',
 '04347',
 '00162',
 '00213',
 '04325',
 '14835',
 '03359',
 '31196',
 '50756',
 '06681',
 '00266',
 '63485',
 '58993',
 '00043',
 '71228',
 '82894',
 '77587',
 '19632',
 '47122',
 '58196',
 '05590',
 '11007',
 '03381',
 '00566',
 '74523',
 '37732',
 '75519',
 '00290',
 '36141',
 '07427',
 '24641',
 '14667',
 '08242',
 '3451100150251',
 '11891',
 '3450100805222',
 '76299',
 '97831',
 '70409',
 '52180',
 '75841',
 '64612',
 '87541',
 '47135',
 '34988',
 '00251',
 '35942',
 '45736',
 '18892',
 '65301',
 '00131',
 '24032',
 '61813',
 '83725',
 '00202',
 '39726',
 '34791',
 '22354',
 '44812',
 '00152',
 '89394',
 '14291',
 '49659',
 '84493',
 '53943',
 '39537',
 '00036',
 '11569',
 '10405',
 '50047',
 '06655',
 '70492',
 '50951',
 '77670',
 '31582',
 '76339',
 '93726',
 '00348',
 '95161',
 '97461',
 '29441',
 '26540',
 '62616',
 '64503',
 '40591\n40591\n',
 '59326',
 '66801',
 '03953',
 '46902',
 '00211',
 '31229',
 '49268',
 '50802',
 '15102',
 '89470',
 '02663',
 '00079',
 '01403',
 '16970',
 '23078',
 '20827',
 '29051',
 '96670',
 '55239',
 '73251',
 '32816',
 '91645',
 '17277',
 '83449',
 '48393',
 '01882',
 '87536',
 '86483',
 '00014',
 '55365',
 '72486',
 '86758',
 '54679',
 '82777',
 '00280',
 '32914',
 '74493',
 '61044',
 '13073',
 '82822',
 '95935',
 '25466',
 '00300',
 '84409',
 '90604',
 '30481',
 '16321',
 '90516',
 '00306',
 '58271',
 '23186',
 '91917',
 '59361',
 '92962',
 '49741',
 '00112',
 '19364',
 '79590',
 '12561',
 '00233',
 '31982',
 '50727',
 '03263',
 '87771',
 '07203',
 '63477',
 '00263',
 '3451100324624',
 '40035',
 '73557',
 '31401',
 '97308',
 '00217',
 '90872',
 '29391',
 '00137',
 '29309',
 '71921',
 '19855',
 '35178',
 '47810',
 '32468',
 '28062',
 '80734',
 '21955',
 '00177',
 '78334',
 '89081',
 '31086',
 '41182',
 '46333',
 '94881',
 '66381',
 '32200',
 '74747',
 '75487',
 '08436',
 '23010',
 '23554',
 '77249',
 '11887',
 '19411',
 '32591',
 '47494',
 '24491',
 '76642',
 '00201',
 '00755',
 '745-61',
 '19903',
 '3450101325097',
 '00041',
 '20291',
 '43868',
 '00088',
 '00114',
 '26469',
 '25683',
 '9250',
 '31322',
 '27732',
 '44199',
 '00045',
 '49961',
 '20395',
 '00076',
 '10487',
 '59181',
 '10724',
 '48274',
 '50349',
 '00194',
 '95301',
 '63284',
 '14767',
 '00055',
 '69789',
 '51235',
 '27484',
 '51973',
 '16754',
 '40533',
 '83934',
 '08777',
 '78251',
 '23889',
 '47950',
 '00038',
 '02759',
 '24375',
 '87315',
 '39802',
 '14037',
 '30059',
 '54734',
 '68856',
 '84374',
 '38500',
 '00196',
 '07166',
 '00165',
 '00180',
 '38518',
 '00169',
 '00545',
 '67850',
 '84276',
 '15229',
 '96730',
 '80847',
 '92415',
 '15971',
 '94392',
 '71998',
 '23416',
 '73204',
 '10982',
 '93991',
 '47354',
 '3450101229373',
 '67961',
 '03731',
 '32873',
 '00050',
 '42370',
 '10120',
 '83900',
 '92431',
 '00013',
 '02647',
 '48710',
 '95978',
 '26199',
 '60909',
 '50004',
 '00291',
 '46627',
 '01183',
 '19559',
 '38305',
 '12041',
 '60250',
 '59721',
 '96786',
 '00226',
 '52066',
 '85433',
 '04405',
 '03217',
 '46341',
 '68768',
 '19675',
 '31792',
 '66062',
 '59266',
 '02639',
 '89681',
 '01721',
 '00144',
 '74891',
 '46291',
 '05242',
 '26859',
 '50466',
 '14455',
 '00293',
 '00295',
 '62105',
 '05039',
 '80317',
 '01009',
 '00032',
 '13088',
 '46951',
 '59226',
 '33100',
 '91438',
 '00237',
 '79493',
 '54214',
 '73419',
 '69681',
 '87394',
 '3450101536268',
 '61320',
 '47605',
 '42120',
 '24612',
 '46948',
 '26459',
 '63306',
 '70671',
 '20215',
 '89493',
 '03736',
 '51403',
 '26043',
 '03080',
 '00142',
 '93527',
 '27902',
 '65254',
 '02263',
 '03649',
 '32796',
 '00294',
 '37728',
 '09902',
 '45846',
 '69566',
 '54761',
 '00296',
 '37259',
 '27678',
 '20304',
 '87029',
 '80481',
 '81197',
 '00035',
 '04387',
 '53045',
 '00005',
 '73158',
 '86271',
 '63323',
 '33081',
 '66386',
 '3450101556129',
 '87181',
 '29514',
 '64817',
 '98171',
 '04221',
 '26776',
 '63068',
 '00046',
 '19756',
 '00303',
 '01461',
 '00289',
 '99245',
 '11111',
 '25128',
 '02784',
 '92042',
 '38771',
 '72225',
 '23885',
 '68081',
 '78960',
 '01594',
 '97484',
 '18253',
 '19250',
 '24404',
 '23231',
 '00287',
 '28381',
 '3450101325119',
 '22635',
 '55806',
 '31619',
 '74367',
 '11215',
 '11159',
 '29907',
 '95810',
 '50276',
 '36001',
 '19241',
 '39103',
 '00910',
 '00145',
 '41340',
 '40828',
 '28977',
 '88459',
 '77358',
 '21860',
 '01942',
 '40577',
 '00124',
 '00147',
 '49103',
 '29271',
 '53356',
 '83659',
 '24994',
 '08072',
 '00283',
 '36692',
 '13070',
 '68037',
 '94758',
 '00160',
 '09582',
 '16085',
 '07556',
 '99250',
 '63910',
 '77572',
 '00130',
 '88942',
 '81095',
 '48768',
 '11282',
 '00214',
 '00260',
 '00044',
 '46415',
 '98908',
 '18524',
 '6724-',
 '64810',
 '98509',
 '05228',
 '00090',
 '74840',
 '95193',
 '70187',
 '72169',
 '17184',
 '78901',
 '63852',
 '63200',
 '72483',
 '41301',
 '38381',
 '26440',
 '52678',
 '32171',
 '94019',
 '00125',
 '55873',
 '00018',
 '01068',
 '00223',
 '31114',
 '61359',
 '41000',
 '01651',
 '3451100146637',
 '00078',
 '47933',
 '22455',
 '72451',
 '30311',
 '00966',
 '5451100055352',
 '87797',
 '00123',
 '97255',
 '09072',
 '20061',
 '16193',
 '96760',
 '03831',
 '19737',
 '25478',
 '95668',
 '05368',
 '00299',
 '66501',
 '31208',
 '90609',
 '38463',
 '17055',
 '97770',
 '52922',
 '63951',
 '76819',
 '91125',
 '26916',
 '52902',
 '03535',
 '43834',
 '02889',
 '00167',
 '98080',
 '46597',
 '67615',
 '32948',
 '49634',
 '37151',
 '25837',
 '00399',
 '19624',
 '30121',
 '19202',
 '02862',
 '91811',
 '23630',
 '92756',
 '3400900747146',
 '85737',
 '94087',
 '23338',
 '05151',
 '98290',
 '00166',
 '26462',
 '95104',
 '84196',
 '03087',
 '67409',
 '16820',
 '34331',
 '25219',
 '00109',
 '00205',
 '93884',
 '22680',
 '32622',
 '99991',
 '90070',
 '61095',
 '06283',
 '00756',
 '04991',
 '50900',
 '57954',
 '68829',
 '28917',
 '77782',
 '00268',
 '00200',
 '14380',
 '61806',
 '30041',
 '17564',
 '71378\n71378',
 '42228',
 '00192',
 '00321',
 '14106',
 '00158',
 '00126',
 '04402',
 '00015',
 '28551',
 '61325',
 '74432',
 '65321',
 '00136',
 '02962',
 '24986',
 '88973',
 '00034',
 '23012',
 '52227',
 '03523',
 '24622',
 '02594',
 '00582',
 '72938',
 '11361',
 '19575',
 '05182',
 '41951',
 '45729',
 '51689',
 '23738',
 '49901',
 '33739',
 '84479',
 '39440',
 '27503',
 '66708',
 '25659',
 '70290',
 '26811',
 '62059',
 '00047',
 '41937',
 '58500',
 '53579',
 '04431',
 '68006',
 '17132',
 '62491',
 '15731',
 '15678',
 '01762',
 '14088',
 '21831',
 '00154',
 '30977',
 '17777',
 '36994',
 '66771',
 '00029',
 '00253',
 '42380',
 '26779',
 '05038',
 '43068',
 '04255',
 '54788',
 '28291',
 '96771',
 '33316',
 '50577',
 '26989',
 '00288',
 '26604',
 '33219',
 '50837',
 '06223',
 '51175',
 '25781',
 '10348',
 '04388',
 '00279',
 '30283',
 '10194',
 '00221',
 '93189',
 '00003',
 '69576',
 '37645',
 '90571',
 '75579',
 '87738',
 '85989',
 '05358',
 '16630',
 '98245',
 '44805',
 '91209',
 '34322',
 '3451100241281',
 '00134',
 '16971',
 '03431',
 ...}

In [26]:
drop_data = drop_data[(drop_data['user'].astype(str).str.isdigit()) & (drop_data['user'].str.len() == 5)] # เช็ค type ของข้อมูลโดยใช้ str.isdigit() และทำการเลือกข้อมูลที่เป็นตัวเลข 5 หลักเท่านั้น
drop_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,9.0,หนองพอก,4.0,กกโพธิ์
3,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,6.0,บรบือ,19.0,หนองโก
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
5,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,2.0,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,7.0,พิชัย,2.0,บ้านดารา
6,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,18.0,ฆ้องชัย,3.0,โคกสะอาด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38338,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,05258,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองตาโฮม ตำบลขี้เหล็ก,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,14.0,อาจสามารถ,9.0,ขี้เหล็ก
38339,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38340,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38341,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38342,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,10.0,คำม่วง,9.0,เนินยาง

## เปลี่ยน date เป็น YYYY-MM-DD

In [27]:
drop_data['date'] = pd.to_datetime(drop_data['date'],format="%Y/%m/%d") # เปลี่ยน format ของข้อมูลวันที่ให้อยู่ในรูปแบบเดียวกัน
drop_data[['date']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            date
0     2022-03-24
3     2022-02-25
4     2022-03-23
5     2022-03-30
6     2022-03-30
...          ...
38338 2022-02-23
38339 2022-02-23
38340 2022-02-23
38341 2022-03-24
38342 2022-03-31

[37890 rows x 1 columns]

## เปลี่ยน time เป็น hh-mm-ss

In [28]:
drop_data['time'] = pd.to_datetime(drop_data['time'],format='%H:%M%:%S',errors='ignore') # เปลี่ยน format ของข้อมูลเวลาให้อยู่ในรูปแบบเดียวกัน
drop_data[['time']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           time
0      13:08:39
3      14:22:22
4      16:31:45
5      14:46:08
6      15:27:45
...         ...
38338  15:32:53
38339  14:31:01
38340  14:30:21
38341  10:25:32
38342  11:03:40

[37890 rows x 1 columns]

## จัดการให้ค่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [29]:
set(drop_data['ov']) # set ดูค่าที่เก็บไว้

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [30]:
drop_data[drop_data['ov'] == 'ติดเชื้อ +2 '] # ดูว่า 'ติดเชื้อ +2 ' เป็นค่าที่เท่าไร

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
16413,87374,A838A03E-1327-4720-B689-FD29C78023FD,2022-03-07,"iPhone8,2",05237,11:50:47,ปกติ (เหลืองใส),ติดเชื้อ +2,00187,05237,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านจานเตย ตำบลทุ...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,11.0,สุวรรณภูมิ,13.0,ทุ่งกุลา

In [31]:
drop_data['ov'] = drop_data['ov'].drop(16413) # drop ค่า 'ติดเชื้อ +2 ' ทิ้ง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
drop_data = drop_data.dropna(subset=['ov']) # จัดการค่า missing

In [33]:
set(drop_data['ov']) # เช็คค่าที่เก็บไว้

{'0', '1', '2', '3', '4'}

## จัดการให้ค่า PartitionKey เป็นตัวเลข 5 หลัก(ตัวเลขเท่านั้น)

In [34]:
set(drop_data['PartitionKey']) # set ดูค่าที่เก็บไว้

{'00983',
 '01864',
 '01217',
 '03949',
 '00022',
 '00673',
 '00438',
 '01793',
 '00851',
 '01681',
 '01515',
 '01501',
 '05974',
 '04658',
 '01600',
 '06055',
 '00319',
 '00649',
 '01641',
 '001',
 '04664',
 '01854',
 '02045',
 '00337',
 '00269',
 '05232',
 '05155',
 '02438',
 '01823',
 '02981',
 '000152',
 '01887',
 '00831',
 '03122',
 '01431',
 '00900',
 '01558',
 '03111',
 '240',
 '01929',
 '03057',
 '00052',
 '00061',
 '01192',
 '01215',
 '00380',
 '00150',
 '06722',
 '05096',
 '00775',
 '04671',
 '02244',
 '200',
 '02791',
 '01623',
 '00635',
 '01886',
 '01946',
 '02909',
 '04669',
 '00737',
 '02208',
 '03549',
 '01521',
 '02958',
 '00176',
 '00896',
 '01725',
 '02223',
 '03049',
 '00183',
 '80464',
 '01582',
 '02934',
 '01892',
 '01832',
 '01566',
 '01842',
 '01044',
 '02117',
 '00528',
 '02054',
 '00033',
 '02616',
 '00736',
 '00245',
 '01407',
 '01609',
 '10965',
 '00407',
 '02147',
 '02143',
 '05717',
 '02477',
 '06036',
 '02188',
 '05147',
 '02988',
 '02832',
 '01502',
 '01321',
 '02767',
 '01908',
 '00449',
 '01457',
 '00218',
 '01490',
 '03065',
 '02268',
 '03361',
 '00974',
 '02122',
 '04641',
 '193',
 '00246',
 '01104',
 '02778',
 '01003',
 '00087',
 '08950',
 '00726',
 '01201',
 '00092',
 '00578',
 '00839',
 '02637',
 '00008',
 '01134',
 '04666',
 '05963',
 '02409',
 '153',
 '01570',
 '02653',
 '06007',
 '02807',
 '02860',
 '32',
 '00624',
 '02719',
 '03093',
 '01008',
 '00603',
 '01957',
 '03054',
 '11005',
 '04681',
 '10408',
 '08596',
 '00308',
 '03472',
 '00977',
 '00418',
 '01862',
 '05104',
 '01930',
 '01301',
 '00497',
 '03521',
 '09041',
 '00351',
 '00674',
 '00585',
 '00778',
 '0083',
 '01391',
 '01713',
 '02464',
 '02611',
 '08993',
 '00984',
 '00880',
 '00913',
 '03034',
 '01341',
 '02199',
 '00324',
 '05219',
 '03233',
 '00318',
 '02509',
 '00048',
 '00642',
 '01775',
 '01835',
 '00305',
 '01577',
 '02559',
 '90470',
 '01644',
 '03313',
 '00364',
 '06050',
 '03133',
 '01014',
 '02008',
 '08951',
 '01935',
 '01964',
 '00976',
 '01671',
 '01541',
 '04192',
 '00027',
 '01593',
 '01785',
 '01071',
 '00788',
 '01262',
 '00228',
 '00712',
 '04016',
 '00680',
 '01271',
 '01837',
 '00049',
 '01315',
 '00503',
 '01952',
 '01418',
 '03299',
 '08944',
 '976',
 '03970',
 '01395',
 '01585',
 '05354',
 '03553',
 '00190',
 '00814',
 '10011',
 '03351',
 '04686',
 '00868',
 '00209',
 '00072',
 '00927',
 '01486',
 '02175',
 '02662',
 '00508',
 '01112',
 '00465',
 '00609',
 '01337',
 '01865',
 '00031',
 '00885',
 '01369',
 '01269',
 '02216',
 '03158',
 '03322',
 '03188',
 '01717',
 '02621',
 '00909',
 '04657',
 '06046',
 '00882',
 '00419',
 '00968',
 '04059',
 '02454',
 '02887',
 '02152',
 '05343',
 '02123',
 '01875',
 '00915',
 '10981',
 '02953',
 '04179',
 '00117',
 '02643',
 '02517',
 '05097',
 '02489',
 '05318',
 '01922',
 '01791',
 '00625',
 '00484',
 '02690',
 '10988',
 '02151',
 '05721',
 '00231',
 '00442',
 '00541',
 '00103',
 '01665',
 '05093',
 '00866',
 '02613',
 '03333',
 '02688',
 '02675',
 '02016',
 '03331',
 '03925',
 '03400',
 '06063',
 '00065',
 '00374',
 '00938',
 '01028',
 '00887',
 '00822',
 '01459',
 '01211',
 '02262',
 '02304',
 '03197',
 '03140',
 '00757',
 '03218',
 '06022',
 '00594',
 '00064',
 '218',
 '00513',
 '00990',
 '08067',
 '00400',
 '00647',
 '01896',
 '03504',
 '00394',
 '01245',
 '01365',
 '02739',
 '08962',
 '00509',
 '04117',
 '00717',
 '03031',
 '00707',
 '01187',
 '02803',
 '01810',
 '09017',
 '01364',
 '01904',
 '01906',
 '00506',
 '03150',
 '00271',
 '00617',
 '02491',
 '01106',
 '01230',
 '00972',
 '112',
 '03124',
 '00693',
 '00965',
 '02632',
 '01140',
 '02855',
 '02422',
 '00895',
 '01016',
 '02760',
 '03206',
 '00433',
 '00546',
 '04028',
 '03071',
 '01761',
 '02043',
 '02794',
 '04633',
 '02336',
 '00315',
 '01640',
 '00692',
 '02978',
 '01097',
 '02110',
 '02965',
 '03614',
 '03384',
 '01722',
 '03954',
 '00897',
 '02020',
 '02257',
 '01817',
 '00301',
 '00653',
 '02541',
 '10984',
 '00225',
 '00405',
 '01811',
 '05262',
 '00488',
 '02622',
 '04080',
 '01298',
 '01066',
 '01890',
 '02917',
 '03424',
 '01310',
 '04075',
 '04622',
 '09013',
 '01423',
 '01576',
 '05125',
 '01754',
 '04735',
 '02809',
 '01240',
 '02579',
 '00490',
 '00443',
 '01319',
 '01984',
 '01497',
 '04095',
 '01985',
 '00832',
 '00141',
 '02032',
 '03593',
 '00178',
 '04101',
 '01227',
 '00164',
 '09006',
 '10986',
 '05831',
 '00012',
 '01689',
 '0014',
 '00461',
 '00824',
 '01386',
 '01159',
 '03008',
 '05197',
 '03309',
 '01318',
 '04628',
 '00007',
 '00725',
 '01313',
 '00856',
 '00670',
 '00772',
 '00187',
 '01163',
 '02941',
 '02701',
 '00926',
 '01530',
 '02638',
 '00864',
 '03373',
 '02136',
 '06724',
 '02426',
 '01741',
 '04084',
 '01281',
 '02286',
 '09030',
 '01368',
 '02888',
 '00408',
 '05339',
 '03182',
 '04046',
 '05204',
 '02446',
 '02301',
 '03059',
 '00828',
 '01133',
 '08984',
 '00074',
 '02165',
 '02493',
 '03078',
 '01643',
 '02496',
 '00931',
 '02265',
 '02796',
 '00381',
 '04682',
 '08904',
 '01778',
 '04670',
 '08902',
 '00957',
 '03436',
 '02627',
 '00722',
 '00206',
 '01516',
 '01030',
 '02063',
 '02209',
 '02332',
 '00951',
 '02949',
 '00106',
 '04631',
 '08954',
 '01798',
 '00875',
 '00589',
 '02273',
 '00355',
 '03825',
 '06312',
 '00861',
 '01228',
 '02383',
 '01285',
 '01433',
 '02979',
 '01645',
 '00559',
 '01231',
 '03108',
 '00000',
 '01870',
 '00001',
 '10962',
 '03500',
 '00985',
 '02777',
 '00918',
 '01694',
 '02651',
 '00086',
 '01396',
 '08977',
 '03225',
 '01309',
 '02096',
 '08503',
 '01752',
 '02158',
 '00557',
 '01194',
 '01370',
 '01484',
 '01157',
 '01676',
 '00845',
 '00489',
 '02288',
 '00479',
 '08974',
 '08973',
 '00284',
 '00829',
 '01082',
 '02330',
 '01019',
 '04696',
 '02825',
 '01737',
 '01094',
 '01764',
 '05994',
 '00437',
 '08990',
 '01822',
 '01690',
 '00581',
 '01920',
 '01083',
 '01943',
 '05172',
 '02550',
 '00556',
 '00403',
 '01669',
 '05266',
 '00368',
 '00785',
 '01004',
 '01056',
 '01493',
 '00530',
 '02742',
 '01672',
 '02107',
 '01077',
 '01065',
 '01135',
 '01164',
 '01650',
 '02220',
 '02755',
 '02420',
 '04653',
 '01300',
 '05977',
 '02264',
 '02536',
 '01015',
 '02827',
 '02990',
 '00156',
 '00129',
 '08931',
 '00893',
 '03395',
 '00122',
 '01200',
 '10966',
 '02200',
 '01839',
 '02848',
 '05245',
 '02680',
 '03279',
 '05323',
 '01851',
 '02007',
 '99771',
 '05110',
 '06026',
 '00441',
 '04626',
 '00358',
 '00204',
 '01138',
 '01392',
 '01724',
 '02142',
 '00356',
 '02251',
 '02844',
 '05281',
 '04033',
 '00415',
 '01799',
 '02986',
 '01977',
 '05985',
 '02880',
 '04127',
 '00935',
 '06720',
 '06013',
 '00421',
 '00975',
 '03220',
 '05126',
 '02099',
 '00837',
 '02329',
 '00339',
 '00162',
 '01061',
 '01414',
 '02041',
 '04347',
 '00213',
 '00696',
 '01726',
 '00881',
 '02754',
 '02960',
 '01237',
 '03724',
 '01118',
 '01500',
 '03168',
 '01117',
 '03438',
 '03359',
 '10979',
 '02687',
 '02548',
 '02749',
 '48',
 '00266',
 '03398',
 '01062',
 '01325',
 '02485',
 '05723',
 '05207',
 '01136',
 '04115',
 '02085',
 '06185',
 '02951',
 '01909',
 '00043',
 '01463',
 '00704',
 '03266',
 '00487',
 '01995',
 '00947',
 '02499',
 '01139',
 '01505',
 '11007',
 '03381',
 '00566',
 '00806',
 '01996',
 '02098',
 '02389',
 '03284',
 '00986',
 '02189',
 '03383',
 '04777',
 '01221',
 '00702',
 '00370',
 '00662',
 '02029',
 '02893',
 '00500',
 '04679',
 '00290',
 '02083',
 '01432',
 '08965',
 '00229',
 '00626',
 '00686',
 '02500',
 '01814',
 '03095',
 '0034',
 '02980',
 '03002',
 '01647',
 '01625',
 '01562',
 '01169',
 '01458',
 '02049',
 '01302',
 '04168',
 '00716',
 '01451',
 '00741',
 '02380',
 '02826',
 '00769',
 '01326',
 '00999',
 '00695',
 '00493',
 '01831',
 '00844',
 '03221',
 '00251',
 '08972',
 '05189',
 '00131',
 '00886',
 '01495',
 '01682',
 '01488',
 '00202',
 '00991',
 '08992',
 '10967',
 '00152',
 '05013',
 '01236',
 '06038',
 '08905',
 '01069',
 '00874',
 '02877',
 '02508',
 '02597',
 '00816',
 '03487',
 '02914',
 '09022',
 '03405',
 '02191',
 '01838',
 '10989',
 '02766',
 '02026',
 '02849',
 '03397',
 '00036',
 '01878',
 '00765',
 '09008',
 '02365',
 '03044',
 '03325',
 '00430',
 '01815',
 '01343',
 '01898',
 '09038',
 '01121',
 '00347',
 '02258',
 '00275',
 '00077',
 '00236',
 '00348',
 '01881',
 '05200',
 '01876',
 '00713',
 '01297',
 '02510',
 '00499',
 '00612',
 '01933',
 '02532',
 '03419',
 '08314',
 '02750',
 '06012',
 '01478',
 '00751',
 '00102',
 '00498',
 '02544',
 '61',
 '00842',
 '02057',
 '00492',
 '00813',
 '04630',
 '04785',
 '00244',
 '00867',
 '03376',
 '00211',
 '01910',
 '01127',
 '01888',
 '03499',
 '09027',
 '04180',
 '01150',
 '02321',
 '01256',
 '04811',
 '00234',
 '10980',
 '00079',
 '00390',
 '01403',
 '02002',
 '00539',
 '00097',
 '03291',
 '00181',
 '06011',
 '00066',
 '05993',
 '01782',
 '00101',
 '00562',
 '01085',
 '01352',
 '02714',
 '00936',
 '01021',
 '01410',
 '01882',
 '00916',
 '09044',
 '01180',
 '00776',
 '00014',
 '00450',
 '08284',
 '01555',
 '09035',
 '00280',
 '03311',
 '04684',
 '08919',
 '00946',
 '01314',
 '02094',
 '02585',
 '08988',
 '05153',
 '00300',
 '01025',
 '02455',
 '00763',
 '04646',
 '01540',
 '00485',
 '00744',
 '00956',
 '01351',
 '00714',
 '01859',
 '01824',
 '72093',
 '00306',
 '00980',
 '02812',
 '03189',
 '00685',
 '01377',
 '01611',
 '02985',
 '03042',
 '09026',
 '01583',
 '08920',
 '05120',
 '00112',
 '00818',
 '00925',
 '01557',
 '01871',
 '02672',
 '01742',
 '04143',
 '04648',
 '02067',
 '00233',
 '03263',
 '01960',
 '08519',
 '179',
 '03104',
 '01966',
 '00263',
 '00699',
 '06039',
 '02588',
 '02931',
 '00766',
 '01032',
 '02214',
 '08938',
 '00217',
 '00401',
 '01005',
 '02401',
 '05302',
 '01317',
 '04652',
 '00248',
 '01780',
 '00137',
 '01345',
 '01719',
 '01481',
 '01677',
 '02928',
 '01931',
 '00583',
 '02120',
 '02537',
 '03327',
 '05105',
 '04024',
 '08987',
 '02686',
 '00939',
 '00952',
 '05715',
 '00955',
 '03005',
 '04753',
 '06017',
 '02694',
 '08908',
 '00630',
 '00833',
 '06041',
 '01796',
 '01129',
 '00177',
 '00222',
 '02249',
 '89',
 '02172',
 '03139',
 '03061',
 '01927',
 '01821',
 '02488',
 '03378',
 ...}

In [35]:
drop_data = drop_data[(drop_data['PartitionKey'].astype(str).str.isdigit()) & (drop_data['PartitionKey'].str.len() == 5)] # เช็ค type ของข้อมูลโดยใช้ str.isdigit() และทำการเลือกข้อมูลที่เป็นตัวเลข 5 หลักเท่านั้น
drop_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
5,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,2.0,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,7.0,พิชัย,2.0,บ้านดารา
6,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,18.0,ฆ้องชัย,3.0,โคกสะอาด
7,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,2.0,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,5.0,ฟากท่า,4.0,สองห้อง
8,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,10.0,นาดูน,6.0,หัวดง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38335,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10:30:22,ปกติ (เหลืองใส),2,89170,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38336,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),0,90470,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38337,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10:24:40,ปกติ (เหลืองใส),1,91123,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38341,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38342,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,10.0,คำม่วง,9.0,เนินยาง

In [36]:
drop_data.isnull().any() # เช็คค่า missing

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
hcode           False
name            False
zone_code       False
zone_name       False
provincecode    False
province        False
amphurcode      False
amphur          False
tamboncode      False
tambon          False
dtype: bool

In [37]:
drop_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
5,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,2.0,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,7.0,พิชัย,2.0,บ้านดารา
6,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,18.0,ฆ้องชัย,3.0,โคกสะอาด
7,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,2.0,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,5.0,ฟากท่า,4.0,สองห้อง
8,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,10.0,นาดูน,6.0,หัวดง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38335,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10:30:22,ปกติ (เหลืองใส),2,89170,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38336,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),0,90470,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38337,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10:24:40,ปกติ (เหลืองใส),1,91123,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38341,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38342,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,10.0,คำม่วง,9.0,เนินยาง

# Save File

In [38]:
drop_data.to_csv('drop_data.csv', encoding='utf-8')

# Link Dashboard

https://datastudio.google.com/reporting/7a98d59e-f922-40f0-8220-91e0c6969b13